{% extends "base.html" %}

{% block scripts %}
      function newGroup() {
        var users = [];
        var selectBox = document.getElementById("users-select")
        for (x = 0; x < selectBox.length; x++) {
          if (selectBox[x].selected) {
            users.push(selectBox[x].value)
          }
        }
        fetch("/api/v1/groups", {
          method: "POST",
          body: JSON.stringify({
            description: document.getElementById("desc").value,
            users: users
          }),
          headers: {'Accept': 'application/json'}
        }).then(response => {
          console.log(response.text);
          location.reload();
        });
      }
{% endblock %}

{% block content %}
  <div class="jumbotron">

    <form name="new-group-form">
      <div class="form-group">
        <label>
          Grupi kirjeldus/Grupi nimi
        </label>
        <input id="desc" type="text" name="description" class="form-control">
      </div>
      <div class="form-group">
        <label>Liikmed</label>
        <select multiple="multiple" id="users-select" class="form-control">
          {% for user in users %}
            <option value="{{user.id}}">{{user.username}}</option>
          {% endfor %}
        </select>
      </div>
    </form>
    <button onclick= newGroup() class="btn btn-primary">
      Loo uus grupp
    </button>
  </div>
    <div class="container">
    {% for group in groups %}
      <ul class="list-group row">
        <li class="list-group-item col-6">Kirjeldus/Nimi: {{group.description}}</li>
        <li class="list-group-item col-6">Liikmed: {{group.users|join(', ')}}</li>
      </ul>
      <br>
    {% endfor %}
    </div>
{% endblock %}
