{% extends "base.html" %}

{% block scripts %}
      function newGroup() {
        var xhr = new XMLHttpRequest();
        var users = [];
        var selectBox = document.getElementById("users-select")
        for (x = 0; x < selectBox.length; x++) {
          if (selectBox[x].selected) {
            users.push(selectBox[x].value)
          }
        }
        xhr.open('POST', "/groups", true);
        xhr.setRequestHeader('Accept', 'application/json');
        xhr.send(JSON.stringify({
          description: document.getElementById("desc").value,
          users: users
        }));
        location.reload();
      }
{% endblock %}

{% block content %}
    <ul id="groups">
    {% for group in groups %}
        <li>
          <ul>
            <li>ID: {{group.id}}</li>
            <li>Description: {{group.description}}</li>
            <li>Users: {{group.users}}</li>
          </ul>
          <br>
      </li>
    {% endfor %}
    </ul>
    <form name="new-group-form">
      <p>Group description <input id="desc" type="text" name="description"></p>
      <select multiple="multiple" id="users-select">
        {% for user in users %}
          <option value="{{user.id}}">{{user.username}}</option>
        {% endfor %}
      </select>
    </form>
    <button onclick= newGroup()>
      Create new group
    </button>
{% endblock %}
