{% extends "base.html" %}
{% block scripts %}
      function startSession() {
        var xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function() {
          if (xhr.readyState === 4) {
            var id = xhr.response
            window.location = "/sessions/" + id;
          }
        }
        var e = document.getElementById("group-select");
        var groupId = e.options[e.selectedIndex].value

        var e = document.getElementById("context-select");
        var contextId = e.options[e.selectedIndex].value

        xhr.open('POST', '/sessions', true);
        xhr.setRequestHeader('Accept', 'application/json');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
          groupId: groupId,
          contextId: contextId,
          description: document.getElementById("session-description").value
        }));
      }

{% endblock %}



{% block content %}
  <div class="container">
    <div class="row jumbotron" id="new-session-form-group";>
      <form>
        <div class="form-group">
          <label>Grupp</label>
          <select id="group-select" class="form-control">
            {% for group in groups %}
            <option value={{group.id}}>{{group.description}}</option>
            {% endfor %}
          </select>
        </div>
        <div>
          <label>Kontekst</label>
          <select id="context-select" class="form-control">
            {% for context in contexts %}
            <option value={{context.id}}>{{context.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div>
          <label>Kirjeldus/Küsimus</label>
          <input class="form-control" id="session-description" type="text" name="description">
        </div>
      </form>
      <button onclick="startSession()" class="btn btn-primary">
        Alusta uut sessiooni!
      </button>
    </div>
  </div>
{% endblock %}
