<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
      function startSession() {
        var xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function() {
          if (xhr.readyState === 4) {
            var id = xhr.response
            window.location = "/sessions/" + id;
          }
        }
        var e = document.getElementById("group-select");
        var groupId = e.options[e.selectedIndex].value

        var e = document.getElementById("context-select");
        var contextId = e.options[e.selectedIndex].value

        xhr.open('POST', '/sessions', true);
        xhr.setRequestHeader('Accept', 'application/json');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
          groupId: groupId,
          contextId: contextId,
          description: document.getElementById("session-description").value
        }));
      }
    </script>
  </head>
  <body>
    <div class="row">
      <form>
        <select id="group-select">
          {% for group in groups %}
          <option value={{group.id}}>{{group.description}}</option>
          {% endfor %}
        </select>
        <select id="context-select">
          {% for context in contexts %}
          <option value={{context.id}}>{{context.name}}</option>
          {% endfor %}
        </select>
        <p>Description: <input id="session-description" type="text" name="description"></p>
      </form>
      <button onclick="startSession()">
        Start new session!
      </button>
    </div>
  </body>
</html>
