{% extends "base.html" %}

{% block scripts %}
      function newContext() {
        var xhr = new XMLHttpRequest();
        console.log("Starting to create new user!")
        var name = document.getElementById("context-name").value;
        xhr.open('POST', "{{host_url}}/contexts?name=" + name, true);
        xhr.send();
        console.log("New user created. Reloading")
        location.reload();
      }
{% endblock %}

{% block content %}
    <form>
      <!-- TODO: New context fields and rule selector and rule adders etc -->
      <p>CONTEXT NAME <input id="context-name" type="text" name="name"></p>
    </form>
    <button onclick=newContext()>
      Create new context!
    </button>
{% endblock %}
