{% extends "base.html" %}
{% block react %}
  var realPython = React.createClass({
    getInitialState () {
      return {
        sessions: null
      };
    },
    componentDidMount: async function() {
      try {
        const sessions_raw = await axios.get('/api/v1/sessions');
        console.log(sessions_raw)
        const sessions = sessions_raw.data
        console.log(sessions)
        this.setState({
          sessions: sessions.sessions,
        });
      } catch (error) {
        if (error.response) {
          alert("Request to server failed with code " + error.response.status)
        } else {
          alert("Request to server failed! See console logs!")
          console.log(error)
        }
      }
    },
    render() {
      return (
        <div  className="row">
          <div className="col-8 session-list">
            <div id="session-{i}" className="row session-row">
              <p className="col-5">Kirjeldus/Küsimus</p>
              <p className="col-1">Osalus %</p>
              <p className="col-3">Sessiooni algus</p>
              <p className="col-3">Sessiooni lõpp</p>
            </div>
            {this.state.sessions && this.state.sessions.map((session, i) => (
              <div id="session-{i}" className="row session-row">
                <p className="col-5">{session.description}</p>
                <p className="col-1">{session.participation * 100.0}%</p>
                <p className="col-3">{session.start_time}</p>
                <p className="col-3">{session.end_time}</p>
              </div>
            ))}
          </div>
        </div>
      );
    }
  });

  ReactDOM.render(
    React.createElement(realPython, null),
    document.getElementById('sessions')
  );
{% endblock %}

{% block content %}
  <div id="sessions">
  </div>
{% endblock %}
