{% extends "base.html" %}

{% block scripts %}
    {% if not active %}
      function endSession() {
        var xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function() {
          if (xhr.readyState === 4) {
            var id = xhr.response
            window.location = "/sessions";
          }
        }

        xhr.open('PUT', '/api/v1/sessions/{{id}}', true);
        xhr.send();
      }

      function doReload() {
        console.log("Reloading!")
        window.location.reload()
      }

      function reload() {
        // TODO: Do this only when new entries arrive?
        // TODO: Use long polling to get new data from server
        console.log("Waiting for reload")
        setTimeout(doReload, 1500)
      }

      window.onload = reload
    {% endif %}
{% endblock %}

{% block content %}
  <div style="font-size: 300%;">
    <h1 style="text-align: center;">{{description}}</h1>
    {% if not active %}
        <button onclick="endSession()" class="btn btn-danger btn-lg" style="position:absolute; top: 16rem; left: 1rem">
          Lõpeta sessioon
        </button>
    {% else %}
        <button
            onclick="window.location = '/sessions'"
            class="btn btn-danger btn-lg"
            style="position:absolute; top: 16rem; left: 1rem"
        >
            Tagasi
        </button>
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="col">
          <ul id="session" class="list-group row" style="margin-top: 1rem;">
          {% for user in users %}
              <li class="list-group-item col-4">{{user.username}}</li>
          {% endfor %}
          </ul>
          <h1 class="col-3 offset-8" style="position: absolute; text-align: right; margin-right: 2rem; top: 16rem; font-size: 10rem; color: #FF851B;">{{fill}}%</h1>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
