{% extends "base.html" %}

{% block scripts %}
    {% if not active %}
      function endSession() {
        axios.put(
            "/api/v1/sessions/{{id}}"
        ).then((resp) => {
            window.location = "/sessions";
        }).catch((err) => {
            alert("Sessiooni lõpetamine ebaõnnestus!");
            console.log(err);
        });
      }
    {% endif %}
{% endblock %}

{% block react %}
  var realPython = React.createClass({
    getInitialState () {
      return {
        users: null,
        fill: "0.00%"
      };
    },
    componentDidMount: function() {
      this.fetchUpdate();
      this.timerID = setInterval(
        this.fetchUpdate.bind(this),
        1000
      );
    },
    fetchUpdate: async function() {
      if (this.fetching) return;
      try {
        this.setState({fetching: true});
        resp = await axios.get('/api/v1/sessions/{{id}}');
        this.setState({
          users: resp.data.users,
          fill: resp.data.filled_percentage + "%"
        })
      } catch (error) {
        if (error.response) {
          console.log("Request to server failed with code " + error.response.status)
        } else {
          console.log("Request to server failed!", error)
        }
      } finally {
        this.setState({fetching: false});
      }
    },
    componentWillUnmount: function() {
      clearInterval(this.timerID);
    },
    render() {
      return (
        <div className="container">
          <h1 className="col-3 offset-6 fill-percentage">{this.state.fill}</h1>
          <div className="row">
            <div className="col">
              {this.state.users &&
                <ul className="list-group row">
                  {this.state.users.map((user, i) => (
                    <li className="list-group-item col-4">{user.username}</li>
                  ))}
                </ul>
              }
            </div>
          </div>
        </div>
      );
    }
  });

  ReactDOM.render(
    React.createElement(realPython, null),
    document.getElementById('session')
  );
{% endblock %}

{% block content %}

  <div style="font-size: 300%;">
    <h1 style="text-align: center;">{{description}}</h1>
    {% if not active %}
        <button onclick="endSession()" class="btn btn-danger btn-lg" style="position:absolute; top: 16rem; left: 1rem">
          Lõpeta sessioon
        </button>
    {% else %}
        <button
            onclick="window.location = '/sessions'"
            class="btn btn-danger btn-lg"
            style="position:absolute; top: 16rem; left: 1rem;"
        >
            Tagasi
        </button>
    {% endif %}
    <div id="session">
    </div>
  </div>
{% endblock %}
