<!DOCTYPE html>
<html lang="en">
<head>
    <title>Button of Excellence</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script type="text/javascript">
      function endSession() {
        var xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function() {
          if (xhr.readyState === 4) {
            var id = xhr.response
            window.location = "/sessions";
          }
        }

        xhr.open('PUT', '/sessions/{{id}}', true);
        xhr.send();
      }
    </script>
</head>
<body>
    <button onclick="endSession()">
      End session
    </button>
    <ol id="session">
    {% for user in users %}
        <li>{{user.username}}
      </li>
    {% endfor %}
    </ol>
</body>
</html>
