{% extends "base.html" %}
{% block scripts %}
      function startSession() {
        var xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function() {
          if (xhr.readyState === 4) {
            var id = xhr.response
            window.location = "/sessions/" + id;
          }
        }
        var e = document.getElementById("group-select");
        var groupId = e.options[e.selectedIndex].value

        var e = document.getElementById("context-select");
        var contextId = e.options[e.selectedIndex].value

        xhr.open('POST', '/sessions', true);
        xhr.setRequestHeader('Accept', 'application/json');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
          groupId: groupId,
          contextId: contextId,
          description: document.getElementById("session-description").value
        }));
}

{% endblock %}

{% block content %}
  <a onclick="initNewSession()" class=”add-session” style=”display: inline;”>
    <i class="fas fa-plus-circle"></i>
  </a>
  <div class="row .no-gutters">
      {% for session in sessions %}
        <div class="col-md-7 card border-primary mb-3" style="max-width: 20rem;">
          <a class="card-link" href="/sessions/{{session.id}}">
            <div class="card-header">{{session.description}}</div>
          </a>
          <div class="card-body">
            <!-- <h4 class="card-title"></h4> -->
            <p class="card-text">Group size: {{session.group.users|length}}</p>
            <p class="card-text">Started at: {{session.start_time|datetimefilter}}</p>
          </div>
        </div>
      {% endfor %}
  </div>

  <div class="row">
    <form>
      <select id="group-select">
        {% for group in groups %}
        <option value={{group.id}}>{{group.description}}</option>
        {% endfor %}
      </select>
      <select id="context-select">
        {% for context in contexts %}
        <option value={{context.id}}>{{context.name}}</option>
        {% endfor %}
      </select>
      <p>Description: <input id="session-description" type="text" name="description"></p>
    </form>
    <button onclick="startSession()">
      Start new session!
    </button>
  </div>
{% endblock %}
