{% extends "base.html" %}
{% block react %}
  var realPython = React.createClass({
    getInitialState () {
      return {
        sessions: null
      };
    },
    componentDidMount() {
      try {
        const sessions_raw = (axios.get('/api/v1/sessions'));
        console.log(sessions_raw)
        const sessions = sessions_raw.data
        console.log(sessions)
        this.setState({
          sessions: sessions.sessions,
        });
      } catch (error) {
        if (error.response) {
          alert("Request to server failed with code " + error.response.status)
        } else {
          alert("Request to server failed! See console logs!")
          console.log(error)
        }
      }
    },
    render() {
      return (
        <div>
          {this.state.sessions && this.state.sessions.map((session, i) => (
            <div id="session-{i}">
              <p>Session id: {session.id}</p>
              <p>Session description: {session.description}</p>
              <p>Session group id: {session.group_id}</p>
              <p>Session start time: {session.start_time}</p>
            </div>
          ))}
        </div>
      );
    }
  });

  ReactDOM.render(
    React.createElement(realPython, null),
    document.getElementById('sessions')
  );
{% endblock %}

{% block content %}
  <div id="sessions">
  </div>
{% endblock %}
