{% extends "base.html" %}

{% block scripts %}
      function newUser() {
        var xhr = new XMLHttpRequest();
        console.log("Starting to create new user!")
        var name = document.getElementById("uname").value;
        var type = document.getElementById("user-type").value;
        xhr.open('POST', "{{host_url}}/users?name=" + name + "&type=" + type, true);
        xhr.send();
        console.log("New user created. Reloading")
        location.reload();
      }

      {% if testing %}
        function postButtonPress(id) {
          var xhr = new XMLHttpRequest();
          xhr.open('GET', "/button?id=" + id, true);
          xhr.send();
        }
      {% endif %}
{% endblock %}

{% block content %}
    <ul id="users">
    {% for user in users %}
        <li>
          <ul>
            {% if testing%}
            <li>
              <button onClick=postButtonPress({{user.id}})>
                Test {{user.username}}!
              </button>
            </li>
            {% else %}
            <li>ID: {{user.id}}</li>
            <li>Name: {{user.username}}</li>
            <li>Type: {{user.type.name}}</li>
            {% endif %}
          </ul>
          <br>
      </li>
    {% endfor %}
    </ul>

    <form name="new-user-form">
      <p>ENTER USER NAME <input id="uname" type="text" name="username"></p>
      <select id="user-type">
        <option value="1" selected="true">Student</option>
        <option value="2">Teacher</option>
      </select>
    </form>
    <button onclick= newUser()>
      Create new user
    </button>
{% endblock %}
